@tailwind base;
@tailwind components;
@tailwind utilities;

.heroTalk {
  -webkit-text-stroke-width: 1.0051181316375732;
  -webkit-text-stroke-color: var(--our-white, #fcfafd);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
